.wpic_container {
	clear: both;
	margin-top: 3px;
	margin-bottom: 20px;
	}

.wpic_next {
	float: right;
	margin-top: 40px;
	opacity: 0.85;
   transition: opacity .20s ease-in-out;
   -moz-transition: opacity .20s ease-in-out;
   -webkit-transition: opacity .20s ease-in-out;
	padding: 1px;
	width: 25px;
	height: 22px;
	border: 0px;
	}
	
.wpic_next:hover {
	opacity: 1;
	width: 25px;
	height: 22px;
	border: 0px;
	}
	
.wpic_prev {
	float: left;
	margin-top: 40px;
	opacity: 0.85;
   transition: opacity .20s ease-in-out;
   -moz-transition: opacity .20s ease-in-out;
   -webkit-transition: opacity .20s ease-in-out;
	padding: 1px;
	width: 25px;
	height: 22px;
	border: 0px;
	margin-right: 2px;
	margin-left: 2px;
	}
	
.wpic_prev:hover {
	opacity: 1;
	width: 25px;
	height: 22px;
	border: 0px;
	}

.wpic_content {
	margin: 0 auto;
}

.wpic_content img {
	margin: 0 auto;
	}

